.header__logo {
    max-width: 142px;
    max-height: 33px;
}

@media screen and (max-width: 525px) {
    .header__logo { 
     margin: 0 0 0 32px;
     max-width: 103.74px;
     max-height: 24.4px;
 }
 }