.profile__subtitle {
    grid-area: subtitle;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 21.78px;
    max-width: 100%;
}

@media screen and (max-width: 485px) {
    .profile__subtitle { 
     font-size: 14px;
     line-height: 16.94px;
     justify-self: center;
 }
 }

 @media screen and (max-width: 320px) {
    .profile__subtitle { 
     font-size: 14px;
     line-height: 16.94px;
     margin: 14px 0 0;
 }
 }