.profile__edit-button {
    grid-area: button;
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    align-self: center;
    background: transparent;
    border: 1px solid white;
    cursor: pointer;
    transition: opacity 1s ease-in-out;
}

.profile__edit-button:hover {
    opacity: .6;
}

@media screen and (max-width: 485px) {
    .profile__edit-button { 
     width: 18px;
     height: 18px;
 }
 }